.protractor-extension-circle {
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: move;
    position: absolute;
    z-index: 1;
}

.protractor-extension-circle.protractor-extension-circle-locked {
    cursor: default;
}
