.__MSG_@@extension_id__-circle {
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: move;
    position: absolute;
    z-index: 1;
}

.__MSG_@@extension_id__-circle.__MSG_@@extension_id__-circle-locked {
    cursor: default;
}
