.__MSG_@@extension_id__-display {
    border-radius: 3px;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
    height: 50px;
    left: 50%;
    margin: 15px 0 0 -60px;
    padding: 2px;
    position: absolute;
    top: 50%;
    width: 120px;
    z-index: 100;
}

.__MSG_@@extension_id__-display.__MSG_@@extension_id__-display-locked {
    cursor: not-allowed;
}

.__MSG_@@extension_id__-display-delta-a {
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.__MSG_@@extension_id__-display-delta-b {
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    text-align: center;
}

.__MSG_@@extension_id__-display-sub0,
.__MSG_@@extension_id__-display-sub1 {
    bottom: 2px;
    color: #999;
    cursor: move;
    font-size: 11px;
    height: 10px;
    line-height: 10px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 50px;
}

.__MSG_@@extension_id__-display-sub0 {
    left: 2px;
    text-align: left;
}

.__MSG_@@extension_id__-display-sub1 {
    right: 2px;
    text-align: right;
}
