.__MSG_@@extension_id__-handle-rotate {
    background: #000;
    border-right: 5px solid #000;
    height: 1px;
    left: 50%;
    margin-top: -0.5px;
    position: absolute;
    top: 50%;
    transform-origin: 0.5px 0;
    z-index: 99;
}

.__MSG_@@extension_id__-handle-rotate-knob {
    background: #000;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: move;
    height: 20px;
    left: 100%;
    margin-left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 0;
    width: 20px;
}