.__MSG_@@extension_id__-label {
    border-radius: 2px;
    color: #777;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin-top: 8px;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    width: 30px;
}
