.protractor-extension-marker {
    background: 0;;
    box-sizing: border-box;
    cursor: move;
    left: 50%;
    position: absolute;
    transform-origin: 0.5px 0;
    top: 50%;
    width: 1px;
    z-index: 2;
}

.protractor-extension-marker.protractor-extension-marker-locked,
.protractor-extension-marker.protractor-extension-marker-locked * {
    cursor: default;
}