.__MSG_@@extension_id__-marker {
    background: 0;;
    box-sizing: border-box;
    cursor: move;
    left: 50%;
    position: absolute;
    transform-origin: 0.5px 0;
    top: 50%;
    width: 1px;
    z-index: 2;
}

.__MSG_@@extension_id__-marker.__MSG_@@extension_id__-marker-locked,
.__MSG_@@extension_id__-marker.__MSG_@@extension_id__-marker-locked * {
    cursor: default;
}