* {
    box-sizing: border-box;
    font: sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    border-bottom: 3px solid #35D45E;
    color: #35D45E;
    font-size: 28px;
    letter-spacing: 1.2px;
    margin: 0 auto;
    padding: 30px 20px;
    text-align: center;
    width: 550px;
}

.container {
    margin: 0 auto;
    padding: 20px 0;
    width: 550px;
}

.option {
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    line-height: 30px;
    padding: 20px 0;
}

.option-title {
    font-weight: bold;
    width: 250px;
}

.radio-label {
    border-radius: 3px;
    cursor: pointer;
    padding: 0 10px;
    width: 150px;
}

.radio-label:hover {
    background: #e0e0e0;
}

.rgba-label {
    margin-right: 10px;
}

.rgba-label:hover {

}

.arrow {
    font-size: 32px;
    user-select: none;
}

[type=radio] {
    cursor: pointer;
    margin-right: 5px;
}

[type=range] {
    width: 200px;
}

.range-value {
    padding: 0 10px;
    text-align: center;
    width: 100px;
}
