.__MSG_@@extension_id__-circle {
    background: rgba(200, 200, 200, 0.03);
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: move;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.__MSG_@@extension_id__-circle .__MSG_@@extension_id__-circle-locked {
    cursor: not-allowed;
}
