.__MSG_@@extension_id__-container {
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    opacity: 1;
    position: absolute;
    transition: opacity 0.5s ease;
    z-index: 1000000;
}

.__MSG_@@extension_id__-container-hidden {
    opacity: 0;
}
