.__MSG_@@extension_id__-display {
    background: rgba(230, 230, 230, 1);
    border-radius: 3px;
    cursor: move;
    font-size: 14px;
    height: 20px;
    left: 50%;
    line-height: 20px;
    margin: 15px 0 0 -40px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 80px;
    z-index: 100;
}
