.__MSG_@@extension_id__-guide {
    background: rgba(100, 100, 100, 0.2);
    border-right: 5px solid #222;
    height: 1px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform-origin: 0.5px 0;
    width: 50%;
    z-index: 99;
}

.__MSG_@@extension_id__-guide-0 {
    transform: rotate(-45deg);
}

.__MSG_@@extension_id__-guide-1 {
    transform: rotate(-135deg);
}

.__MSG_@@extension_id__-guide-handle {
    background-color: rgba(230, 230, 230, 1);
    border: 1px solid #222;
    border-radius: 10px;
    cursor: move;
    height: 20px;
    left: 100%;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    top: 0;
    width: 20px;
}
