.__MSG_@@extension_id__-handle {
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/sprite-buttons.svg');
    background-position: -95px -5px;
    background-repeat: no-repeat;
    background-size: 120px 30px;
    height: 20px;
    position: absolute;
    width: 20px;
    z-index: 101;
}

.__MSG_@@extension_id__-handle-0 {
    cursor: nwse-resize;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
}

.__MSG_@@extension_id__-handle-1 {
    bottom: 0;
    cursor: nwse-resize;
    right: 0;
    transform: rotate(90deg);
}
