.protractor-container {
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    position: absolute;
}

.protractor-button-container {
    border: 0;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 50%;
}

.protractor-button-close,
.protractor-button-lock {
    background: 0;
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/sprite-buttons.svg');
    background-repeat: no-repeat;
    background-size: 100px 25px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: top;
    width: 25px;
}

.protractor-button-close {
    background-position: -50px 0;
    font-size: 16px;
    right: 0;
    width: 25px;
}

.protractor-button-lock {
    background-position: 0 0;
    font-size: 8px;
    text-transform: uppercase;
}

.protractor-button-close:hover {
    background-color: #ccc;
}

.protractor-button-lock:hover {
    background-color: #ccc;
    background-position: -25px 0;
}

.protractor-circle {
    background: rgba(200, 200, 200, 0.05);
    border: 2px solid #ccc;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.protractor-display {
    background: rgba(230, 230, 230, 1);
    border-radius: 3px;
    font-size: 14px;
    height: 20px;
    left: 50%;
    line-height: 20px;
    margin: 15px 0 0 -40px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 80px;
    z-index: 100;
}

.protractor-guide {
    background: rgba(100, 100, 100, 0.2);
    position: absolute;
    left: 50%;
    transform-origin: 0.5px 0;
    top: 50%;
    width: 1px;
    z-index: 99;
}

.protractor-guide:after {
    background-color: rgba(230, 230, 230, 1);
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/sprite-buttons.svg');
    background-repeat: no-repeat;
    background-size: 80px 20px;
    border: 1px solid #aaa;
    border-radius: 10px;
    content: ' ';
    height: 20px;
    left: 0;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 100%;
    width: 20px;
}

.protractor-marker {
    background: #222;
    height: 10px;
    margin-top: -5px;
    position: absolute;
    width: 2px;
    z-index: 2;
}

.protractor-resize-handle {
    background-image:url('chrome-extension://__MSG_@@extension_id__/images/sprite-buttons.svg');
    background-position: -95px -5px;
    background-repeat: no-repeat;
    background-size: 120px 30px;
    height: 20px;
    position: absolute;
    width: 20px;
}

.protractor-resize-handle-0 {
    cursor: nwse-resize;
    left: 0;
    top: 0;
    transform: rotate(-90deg);
}

.protractor-resize-handle-1 {
    bottom: 0;
    cursor: nwse-resize;
    right: 0;
    transform: rotate(90deg);
}
